<div fxLayout="row" fxLayoutAlign="center center" class="general-container">
    <div class="row-height" fxLayoutAlign="space-evenly stretch" class="tabsheader">

    </div>
    <mat-tab-group fxFlex="60%" #tab dynamicHeight [selectedIndex]="selectedIndex">
        <mat-tab label="Registrar Orden">
            <div fxLayout="column" fxLayoutGap="0px" fxLayoutAlign="start center" class="bgsoftColor">
                <div fxFlex fxLayout="column" fxLayoutGap="0px" fxLayoutAlign="center stretch" fxFlexFill
                    style="padding-top: 5rem; padding-bottom: 5rem;">
                    <div fxLayout="row" fxLayoutGap="0px" fxLayoutAlign="space-between stretch" class="section-3"
                        ngClass.lt-lg="content">
                        <div fxFlexFill class="">
                            <mat-card class="mat-fixed-card mat-elevation-z3 general-card">
                                <mat-card-header>
                                    <div mat-card-avatar>
                                        <mat-icon aria-hidden="false" aria-label="Done" class="primaryColor">
                                            <span class="material-icons-outlined">
                                                category
                                            </span>
                                        </mat-icon>
                                    </div>
                                    <mat-card-title>
                                        Registrar Orden
                                    </mat-card-title>
                                    <mat-card-subtitle> </mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                    <a mat-button color="primary" class="btnPrimary" routerLink="/producto/listado">
                                        Ir al listado
                                    </a>
                                    <!--              Here will go the table-->
                                    <form [formGroup]="registerForm" (ngSubmit)="register()" class="example-container"
                                        autocomplete="off">
                                        <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="start center">
                                            <div fxFlex="100%">

                                            </div>
                                        </div>
                                        <mat-divider></mat-divider>
                                        <br />

                                        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px"
                                            fxLayoutGap.lt-sm="0px" fxLayoutAlign="start center"
                                            fxLayoutAlign="start stretch">
                                            <div fxFlex="30%" fxFlex.lt-sm="auto">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Clientes</mat-label>
                                                    <mat-select formControlName="idCliente" name="cli">
                                                        <mat-option *ngFor="let cli of clientes" [value]="cli.id">
                                                            {{cli.nombre}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div fxFlex="30%" fxFlex.lt-sm="auto">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Productos</mat-label>
                                                    <mat-select formControlName="idProducto" name="cli">
                                                        <mat-option *ngFor="let pro of productos" [value]="pro.id">
                                                            {{pro.nombre}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>







                                        </div>

                                        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px"
                                        fxLayoutGap.lt-sm="0px" fxLayoutAlign="start center"
                                        fxLayoutAlign="start stretch">
                                      

                                        <div fxFlex="30%" fxFlex.lt-sm="auto">
                                            <mat-form-field appearance="outline" style="width:
        100%">
                                                <mat-label>IdOrden</mat-label>
                                                <input formControlName="idOrden" matInput type="number"
                                                    name="IdOrden" placeholder="IdOrden" required="required"
                                                    mask="00000000-0" maxlength="10" />
                                            </mat-form-field>
                                        </div>

                                        <div fxFlex="30%" fxFlex.lt-sm="auto">
                                            <mat-form-field appearance="outline" style="width:
        100%">
                                                <mat-label>Cantidad</mat-label>
                                                <input formControlName="cantidad" matInput type="number"
                                                    name="Cantidad" placeholder="Id" required="required"
                                                    mask="00000000-0" maxlength="10" />
                                            </mat-form-field>
                                        </div>






                                    </div>



                                     
                       


                                        <mat-card-actions align="end">
                                            <button mat-raised-button cdkFocusInitial>
                                                Cancelar
                                            </button>

                                            <button [disabled]="registerForm.invalid" type="submit" mat-raised-button
                                                color="primary">
                                                Registrar
                                            </button>
                                        </mat-card-actions>
                                    </form>
                                </mat-card-content>

                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>

    </mat-tab-group>
</div>