
<div fxLayout="row" fxLayoutAlign="center center" class="general-container">
    <div class="row-height" fxLayoutAlign="space-evenly stretch" class="tabsheader">

    </div>
    <mat-tab-group fxFlex="80%" #tab dynamicHeight>
        <mat-tab label="Todos los anuncios">
            <div fxLayout="column" fxLayoutGap="0px" fxLayoutAlign="start center" class="bgsoftColor">
                <div fxFlex fxLayout="column" fxLayoutGap="0px" fxLayoutAlign="center stretch" fxFlexFill
                    style="padding-top: 5rem; padding-bottom: 5rem">
                    <div fxLayout="row" fxLayoutGap="0px" fxLayoutAlign="space-between stretch" class="section-3"
                        ngClass.lt-lg="content">
                        <div fxFlexFill class="">
                            <mat-card class="mat-fixed-card mat-elevation-z3 general-card">
                                <mat-card-header>
                                    <div mat-card-avatar>
                                        <mat-icon aria-hidden="false" aria-label="Done" class="primaryColor">
                                            people
                                        </mat-icon>
                                    </div>
                                    <mat-card-title> Administrar Clientes </mat-card-title>
                                    <mat-card-subtitle> </mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                    <a mat-button color="primary" class="btnPrimary"
                                        routerLink="/registrar">
                                        Crear Cliente
                                </a>

                                    <div class="mat-elevation-z0 table-responsive mt-1">
                                        <table mat-table matSort [dataSource]="dataSource" class="action-table">
                                            <ng-container matColumnDef="id">
                                                <th mat-header-cell fxFlex="auto" fxLayout="row"
                                                    fxLayoutAlign="start center" *matHeaderCellDef mat-sort-header>
                                                    Id
                                                </th>
                                                <td mat-cell fxFlex="auto" fxLayout="row" fxLayoutAlign="start center"
                                                    *matCellDef="let row" data-label="id">
                                                    {{ row.id}}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="nombre">
                                                <th mat-header-cell fxFlex="auto" fxLayout="row"
                                                    fxLayoutAlign="start center" *matHeaderCellDef mat-sort-header>
                                                    Nombre
                                                </th>
                                                <td mat-cell fxFlex="auto" fxLayout="row" fxLayoutAlign="start center"
                                                    *matCellDef="let row" data-label="nombre">
                                                    {{ row.nombre }}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="apellido">
                                                <th mat-header-cell fxFlex="auto" fxLayout="row"
                                                    fxLayoutAlign="start center" *matHeaderCellDef mat-sort-header>
                                                    Apellido
                                                </th>
                                                <td mat-cell fxFlex="auto" fxLayout="row" fxLayoutAlign="start center"
                                                    *matCellDef="let row" data-label="apelido">
                                                    {{ row.apellido }}
                                                </td>
                                            </ng-container>

                          
                                            <ng-container matColumnDef="options">
                                                <th mat-header-cell fxFlex="auto" fxLayout="row"
                                                    fxLayoutAlign="end center" *matHeaderCellDef mat-sort-header>
                                                    Acciones</th>
                                                <td mat-cell fxFlex="auto" fxLayout="row" fxLayoutAlign="end center"
                                                    *matCellDef="let row">
                                                    <button mat-button color="primary" [matMenuTriggerFor]="options">
                                                        Opciones
                                                    </button>
                                                    <mat-menu #options="matMenu">
                                                        <a [routerLink]="['/ver', row.id ]" mat-menu-item>Ver</a>
                                                    </mat-menu>

                                                
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                                        </table>
                                        <mat-paginator #paginator [pageSizeOptions]="[25, 100, 200]"
                                            showFirstLastButtons></mat-paginator>
                                    </div>
                                </mat-card-content>
                                <mat-card-actions align="end"> </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>